
<div class="page-header">
  <%= link_to new_thing_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Thing
  <% end %>
  <h1>Listing things</h1>
</div>



<%= render "thingshow" %>
